<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Qusai-Dev Company Home Page</title>
</head>
<body>

    <h2>Qusai-Dev Company Home Page - Wow</h2>
    <hr>
    Welcome to the Qusai-Dev company home page

    <p>
        User: <span sec:authentication="principal.username"></span>
        <br><br>
        Role(s): <span sec:authentication="principal.authorities"></span>

    </p>
    <br>
    <form action="#" th:action="@{/logout}" method="post">
        <input type="submit" value="Logout">
    </form>

</body>
</html>